/* Variables */
:root {
  --color-primary: #172b4d;
  --color-secondary: #36b37e;
  --color-secondary-light: #c5e9da;
  --color-grey-1: #fefefe;
  --color-grey-2: #ebf0ee;
}

/* GLOBAL RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  color: #333;
  line-height: 1.6;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
}

/* Utility classes */
.m-b-s {
  margin-bottom: 2rem;
}

.m-b-m {
  margin-bottom: 3rem;
}

.m-b-l {
  margin-bottom: 4rem;
}

.m-b-rl {
  margin-bottom: 6rem;
}

.menu-icon {
  width: 2rem;
  height: 1.6rem;
  fill: var(--color-primary);
  margin-left: auto;
}

.row {
  max-width: 90%;
  margin: 0 auto;
}

.header {
  height: 6rem;
  background-color: var(--color-grey-1);
  display: flex;
  align-items: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 900;
}

.header-content {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  flex: 1;
}

.logo a:link,
.logo a:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color-primary);
  font-weight: 600;
  transition: all 0.2s;
}

.logo a:hover,
.logo a:active {
  color: #172b4d;
  font-weight: 600;
}

.nav {
  display: flex;
  align-items: center;
  flex: 1;
}

.menu-list {
  list-style: none;
  display: none;
  gap: 3rem;
  justify-content: space-around;
  flex: 1;
}

.menu-link:link,
.menu-link:visited {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 600;
}

.menu-link:hover,
.menu-link:active {
  color: #1e488f;
}

.section-hero {
  background-image:
    linear-gradient(
      to bottom left,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/hero.png");
  min-height: calc(100vh - 80px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.header-text {
  text-align: center;
  line-height: 1.2;
}

.heading-primary {
  color: var(--color-primary);
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
}

.heading-secondary {
  font-size: 2.6rem;
  font-weight: 600;
}

.heading-secondary--green {
  color: var(--color-secondary);
}

.heading-secondary--blue {
  color: var(--color-primary);
}

.section-title {
  color: var(--color-primary);
  font-size: 4rem;
  line-height: 1;
}

.text-divider {
  text-align: center;
  height: 0.5rem;
  width: 6rem;
  margin: 2rem auto;
  border: none;
  background-color: var(--color-secondary);
}

.description-text {
  text-align: center;
}

.button {
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 0.4rem;
  display: inline-block;
  color: #fff;
}

.button-primary {
  background-color: var(--color-secondary);
  transition: all 0.2s;
}

.button-primary:hover {
  background-color: #36b37f;
}

.social-icons {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.social-icon {
  fill: #7c889e;
}

.social-icon:link,
.social-icon:visited {
  fill: #7c889e;
  transform: all 0.3s;
  cursor: pointer;
  transition: all 0.2s;
}

.social-icon:hover,
.social-icon:active {
  fill: var(--color-primary);
}

.scroll-btn-container {
  display: flex;
  justify-content: center;
}

.scroll-icon {
  height: 1.8rem;
  width: 1.8rem;
  fill: var(--color-primary);
}

.scroll-btn {
  border: var(--color-primary) 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  border-radius: 50%;
  margin-top: 2rem;
}

.section-works {
  padding: 4rem 0;
}

.works-container,
.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 4rem;
}

.works-header,
.about-header {
  text-align: center;
  margin-bottom: 3rem;
}

.work {
  border-radius: 0.6rem;
  overflow: hidden;
  border: 1px solid #dfe3e2;
}

.work .image-container {
  height: 20rem;
  overflow: hidden;
}

.work .image-container img {
  width: 100%;
  transition: transform 0.3s ease-out;
}

.work .image-container img:hover {
  transform: scale(1.1);
}

.details-container {
  padding: 2rem;
  text-align: center;
  padding-bottom: 4rem;
}

.details-container .skills {
  font-size: 1.4rem;
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.skill-tag {
  border-radius: 0.4rem;
  padding: 0.6rem;
}

.skill-tag--grey {
  background-color: #ebf0ee;
}

.skill-tag--white {
  background-color: #fff;
  color: var(--color-secondary);
}

/* SECTION ABOUT */
.section-about {
  padding: 6rem 0;
}

.skill {
  border-radius: 0.6rem;
  border: 1px solid #dfe3e2;
  background-color: #ebf0ee;
  overflow: hidden;
  padding-top: 2rem;
}

.skill-icon-container {
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-icon-wrapper {
  background-color: #fff;
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

footer {
  background:
    linear-gradient(
      to bottom left,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/illustration-contact-form.svg") no-repeat bottom right;
  background-size: 15%;
  padding: 8rem 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-container h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 5.8rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2.4rem;
}

form input,
textarea {
  padding: 1.5rem 0 1.5rem 1.6rem;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

input::-webkit-input-placeholder {
  /* Edge */
  font-family: inherit;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: inherit;
}

::placeholder {
  font-family: inherit;
}

textarea::-webkit-input-placeholder {
  font-family: "Inter", sans-serif;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Inter", sans-serif;
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Inter", sans-serif;
}

textarea:-ms-input-placeholder {
  font-family: "Inter", sans-serif;
}

textarea::placeholder {
  font-family: "Inter", sans-serif;
}

form button {
  background: #36b37f;
  border: 1px solid transparent;
  border-radius: 4px;
  align-self: center;
  padding: 1.2rem;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 4.4rem;
}

.footer-container .social-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

.my-footer-email {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  display: block;
  text-align: center;
  margin-top: 1.7rem;
}

@media screen and (min-width: 600px) {
  .menu-list {
    display: flex;
  }

  .menu-icon {
    display: none;
  }

  .logo {
    display: none;
  }

  .heading-primary {
    font-size: 4rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .description-text {
    font-size: 2.4rem;
  }

  .scroll-btn-container {
    padding: 1rem;
  }

  .scroll-icon {
    height: 2rem;
    width: 2rem;
  }

  .works-container,
  .about-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 900px) {
  .form-container {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }

  .footer-container .heading-secondary {
    text-align: left;
  }

  .form-container h1 {
    flex: 0 0 50%;
    align-self: flex-start;
    text-align: left;
  }

  .form-container form {
    flex: 0 0 50%;
  }

  .footer-container .social-links {
    border-top: solid 1px rgba(204, 204, 204, 0.677);
    padding-top: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  .row {
    max-width: 88%;
  }
}
